---
  parser: babel-eslint
  rules:
    quotes: [1, single]
    comma-dangle: 0
    curly: 0
    no-underscore-dangle: 0
    eol-last: 0

  env:
    node: true
    es6: true

  ecmaFeatures:
    modules: true
